*{
    margin: 0;
    padding: 0;
    font-family:;
}

/* FOR YOUR RESULT  */
.result{
    width: 250px;
    height: 350px;
background-color:rgb(107, 43, 226);
}
.circle-container{
    background-color: rgb(116, 48, 226);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.circle-container

